
figcaption{
    color: rgba(255, 255, 255, 0.75);
}
.content_13hv8io {

    margin-top: 10px;
}
.react-photo-gallery--gallery img { 
    /* padding: 20px; */
}
.react-photo-gallery--gallery{
    padding-left:10%;
    padding-right:10%;
}
.breadcrumbs{
    margin-top: 100px;
    margin-bottom: 50px;
}
.breadcrumbs h3{
    color:#8c939e;
}
.breadcrumbs a{
    text-decoration: none;
    color: #8c939e;
}
.breadcrumbs a:link{
    color:#8c939e; 
}
.breadcrumbs a:hover{
    color:#8c939e;
}
.breadcrumbs a:visited{
    color:#8c939e;
}

.container_9tizg4{
    z-index: 9999999!important;
}
@media screen and (max-width:768px){
    
    h2{
        font-size: 1.7em;
    }
}